@model UltraDatingHT17.Models.ApplicationUser
@{
    ViewBag.Title = "Friends";
    ViewBag.TitleBar = "Friends";
    ViewBag.Activate = "friends";
}

<h2>Requests</h2>
<div id="pendingRequests">
    @if (Model.FriendRequests.Count() > 0)
    {
        foreach (var request in Model.FriendRequests)
        {
            <div class="requestBox">
                <p>
                    <a href="@Url.Action("Profile", "Home", new { id = request.Id })">
                        @request.Firstname @request.Lastname
                    </a>
                </p>
                @if (request.ProfilePicture != null)
                {
                    <img src="@Url.Action("GetImage", "Home", new { id = request.Id })" />
                }
                else
                {
                    <img src="http://www.planystech.com/wp-content/uploads/2017/03/profile-placeholder.jpg" />
                }
                <div class="requestInfo">
                    <button class="btn accept" onclick="location.href='@Url.Action("AcceptFriendRequest", "Friend", new { friendId = request.Id })'">Accept</button>
                    <button class="btn" onclick="location.href='@Url.Action("DeclineFriendRequest", "Friend", new { friendId = request.Id })'">Decline</button>
                </div>
            </div>
        }
    }
    else
    {
        <p>No new requests!</p>
    }

</div>   

<div id="friendListFriends">
    <h2>Friends</h2>

    @if (Model.Friends.Count() != 0)
    {
        foreach (var friend in Model.Friends)
        {
            <div class="friendInfoFriends">
                @if (friend.ProfilePicture != null)
                {
                    <img src="@Url.Action("GetImage", "Home", new { id = friend.Id })" />
                }
                else
                {
                    <img src="http://www.planystech.com/wp-content/uploads/2017/03/profile-placeholder.jpg" />
                }
                <p>
                    <a href="@Url.Action("Profile", "Home", new { id = friend.Id })">
                        @friend.Firstname @friend.Lastname
                    </a>
                </p>
            </div>
        }
    }
    else
    {
        <p>You have no friends!</p>
    }

</div>