@model UltraDatingHT17.Models.ApplicationUser

@{
    ViewBag.Title = "Startsida";
    if (User.Identity.IsAuthenticated)
    {
        ViewBag.TitleBar = "Välkommen, " + (ViewData["FirstName"]) + "!";
    } else
    {
        ViewBag.TitleBar = "Välkommen!";
    }
    ViewBag.Activate = "home";
    }



<div id="columns">

    <div class="index-welcome">
        <h2>Välkommen!</h2>
        <p>
            Välkommen till Ultra Dating, stans bästa datingsite.
        </p>
    </div>

    <div class="index-users">
        @if (ViewBag.RandomUsers != null)
        {
        <h2>Ett axplock av tillgängliga profiler</h2>
            foreach (var user in ViewBag.RandomUsers)
            {
                if (User.Identity.IsAuthenticated)
                {
                            <span>
                                <a href="@Url.Action("Profile", "Home", new { id = user.Id })">
                                    @user.Firstname @user.Lastname
                                </a>
                            </span>
                }
                else
                {
                    <span>
                        <a href="@Url.Action("Register", "Account")">
                            @user.Firstname @user.Lastname
                        </a>
                    </span>
                }
            }
        }
        else
        {
            <h2>Inga registrerade användare än!</h2>
        }
</div>
</div>