@model UltraDatingHT17.Models.ApplicationUser

@{ string welcome = @UltraDatingHT17.Resources.Index.WelcomeSingle;}
@{
    ViewBag.Title = (@UltraDatingHT17.Resources.Index.Start);
    if (User.Identity.IsAuthenticated)
    {
        ViewBag.TitleBar = welcome+", " + (ViewData["FirstName"]) + "!";
    } else
    {
        ViewBag.TitleBar = welcome+"!";
    }
    ViewBag.Activate = "home";
    }

<div id="columns">

    <div class="index-welcome">
        <h2>@welcome</h2>
        <button class="btn" onclick="location.href='@Url.Action("ChangeLanguage", "Home", new { currentLanguage = welcome })'">@UltraDatingHT17.Resources.Index.ChangeLanguage</button>

        <p>
            @UltraDatingHT17.Resources.Index.Welcome
    @*Välkommen till Ultra Dating, stans bästa datingsite.*@
        </p>
    </div>

    <div class="index-users">
        @if (ViewBag.RandomUsers.Count != 0)
        {
        <h2>
            @UltraDatingHT17.Resources.Index.Profiles
    @*Ett axplock av tillgängliga profiler*@</h2>
            foreach (var user in ViewBag.RandomUsers)
            {
                if (User.Identity.IsAuthenticated)
                {
                            <span>
                                <a href="@Url.Action("Profile", "Home", new { id = user.Id })">
                                    @user.Firstname @user.Lastname<br />
                                </a>
                            </span>
                }
                else
                {
                    <span>
                        <a href="@Url.Action("Register", "Account")">
                            @user.Firstname @user.Lastname<br />
                        </a>
                    </span>
                }
            }
        }
        else
        {
            <h2>
            @UltraDatingHT17.Resources.Index.NoUsers
    @*Inga registrerade användare än!*@</h2>
        }
</div>
</div>