@model UltraDatingHT17.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
    if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
    {
        ViewBag.TitleBar = "Din profil";
    }
    else
    {
        ViewBag.TitleBar = @Model.Firstname + "s profil";
    }
    ViewBag.Activate = "profile";
}

    <div id="columns">
        <div class="profile-pic">

            @if(Model.ProfilePicture != null) { 
            <img class="profile-image"  src="@Url.Action("GetImage", new { id = Model.Id })" />
            } else { 
            <img class="profile-image" src="http://www.planystech.com/wp-content/uploads/2017/03/profile-placeholder.jpg" />
            }
            @if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
            {
                using (Html.BeginForm("UploadPicture", "Home", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
             
                    <input type="file" id="upload-file" name="image"/>
                    
                    <label style="margin-top: 200px;" id="upload-file-label" class="btn left" for="upload-file">Choose Picture</label><br /><br />
                    <input type="submit" class="btn left" value="Confirm" />
                
                }
            }
        </div>    

        <div class="profile-friends">
            <h2>Friends</h2>
            
                @if (Model.Friends.Count > 0)
                {
                    <ul class="friend-list">

                        @foreach (var friend in Model.Friends)
                        {
                        <li><a href="@Url.Action("Profile", "Home", new { id = friend.Id })">@friend.Firstname @friend.Lastname</a></li>
                        }
                    </ul>

                    <span><a href="">View all...</a></span>

                }
                else
                {
                    <span class="gray">No friends</span>
                }

            <br />
            
        </div>

        <div class="profile-bio">
            <h2>Biography</h2>
            <p>
                <b>Name: </b>@Model.Firstname @Model.Lastname<br />
                <b>Age: </b><br />
                <b>Email: </b>@Model.Email<br />
                <br />
                @Model.ProfileInfo
            </p>
            <br />

                        @if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
            {
                            <span class="right">
                                <a href="@Url.Action("EditProfile", "Home", new { id = @Model.Id })">
                                    Edit Profile
                                </a>
                            </span>
                        }
                        else
                        {
                            if (@ViewBag.friendList.Contains(@Model))
                            {
                                <p>Boona</p>
                            }
                            else
                            { <button class="btn accept right">Add Friend</button> 
                           
                            }

                        }
            

</div>
    </div>
<br />

<div id="postsBoxDiv">
    <h2>Posts: </h2>
    @*@Html.Partial("../Posts/Index",Model.Id);*@
    @Html.Partial("../Posts/Index", new UltraDatingHT17.Controllers.PostIndexViewModel(Model.Id));
</div>

@*<div id="createPostDiv">
    @Html.Partial("Create", PostIndexViewModel,"Posts");
</div>*@
<div id="shoutbox-posts">

    <h2>@Model.Firstname's shoutbox:</h2>

    <div class="shoutbox-entry">
        <span class="shoutbox-entry-author"><b>Martin</b></span> - <span class="shoutbox-entry-date">December 12th, 2017 / 13:47</span>
        <p class="shoutbox-entry-content">
            Allt e skit!
        </p>

    </div>

</div>
<hr /><br />
<div id="shoutbox-form">
    <form action="">
        <h2>Leave a message for @Model.Firstname</h2>

        <textarea class="shoutbox-entry-content-input" name="shoutbox-entry-content-input" placeholder="Write something..." resize="no"></textarea>

        <input type="submit" value="Post" class="btn right">

    </form>
</div>