@model UltraDatingHT17.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
    if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
    {
        ViewBag.TitleBar = "Din profil";
    }
    else
    {
        ViewBag.TitleBar = @Model.Firstname + "s profil";
    }
    ViewBag.Activate = "profile";
}

    <div id="columns">
        <div class="profile-pic">
            <img src="@Url.Action("GetImage", new { username = Model.Profilename }) />
            @if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
            {
                using (Html.BeginForm("UploadPicture", "Home", new { username = Model.Profilename }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="file" name="image" class="btn" />
                    <input type="submit" class="btn" value="Submit" />
                
                }
            }
        </div>    

        <div class="profile-friends">
            <h2>Friends</h2>
            <ul class="friend-list">
                <li>Username Surname</li>
                <li>Username Surname</li>
                <li>Username Surname</li>
                <li>Username Surname</li>
                <li>Username Surname</li>
            </ul>
            <br />
            <span><a href="">View all...</a></span>
        </div>

        <div class="profile-bio">
            <h2>Biography</h2>
            <p>
                <b>Name: </b>@Model.Firstname @Model.Lastname<br />
                <b>Age: </b><br />
                <b>Email: </b>@Model.Email<br />
                <br />
                @Model.ProfileInfo
            </p>
            <br />

                        @if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
            {
                            <span class="right">
                                <a href="@Url.Action("EditProfile", "Home", new { username = @Model.Profilename })">
                                    Edit Profile
                                </a>
                            </span>
                        }

</div>
    </div>
<br />
<div id="shoutbox-posts">

    <h2>@Model.Profilename's shoutbox:</h2>

    <div class="shoutbox-entry">
        <span class="shoutbox-entry-author"><b>Martin</b></span> - <span class="shoutbox-entry-date">December 12th, 2017 / 13:47</span>
        <p class="shoutbox-entry-content">
            Allt e skit!
        </p>

    </div>

</div>
<hr /><br />
<div id="shoutbox-form">
    <form action="">
        <h2>Leave a message for @Model.Profilename</h2>

        <textarea class="shoutbox-entry-content-input" name="shoutbox-entry-content-input" placeholder="Write something..." resize="no"></textarea>

        <input type="submit" value="Post" class="btn right">

    </form>
</div>