@model UltraDatingHT17.Models.ApplicationUser
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Profile";
    if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
    {
        ViewBag.TitleBar = "Din profil";
    }
    else
    {
        ViewBag.TitleBar = @Model.Firstname + "s profil";
    }
    ViewBag.Activate = "profile";
}
@*<script src="jquery-1.7.1.js" type="text/javascript"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
 <script>
    function AddPost() {
        var post = {};
        post.PostContent = $("#postTextbox").val();
        post.RecieverId = '@Model.Id';
        post.SenderId = '@HttpContext.Current.User.Identity.GetUserId()';

        $.ajax({
                //url: '"<%=Page.ResolveUrl("/api/PostsController/AddPost")%>"',
                //url: api/Posts/AddPost,
                url: '/api/Posts/AddPost',
                type: "POST",
                //contentType: "application/json;charset=utf-8",
                //data: JSON.stringify(apiPost),
                data: post,
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    location.reload(true);
                },
                error: function (x, e) {
                    console.log(post.PostContent + " " + post.PostReciever + " " + post.PostSender);
                    console.log(x.responseText);
                    console.log(x.status);
                   alert('Failed');
                   

                }
            });
    }

     $(document).ready(function () {
         console.log("ladd funka");
         $("#submitButton").click(function (e) {
             e.preventDefault();
             AddPost();
             
         });
     });
</script>

<div id="columns">
    <div class="profile-pic">

        @if (Model.ProfilePicture != null)
        {
            <img class="profile-image" src="@Url.Action("GetImage", new { id = Model.Id })" />
        }
        else
        {
            <img class="profile-image" src="http://www.planystech.com/wp-content/uploads/2017/03/profile-placeholder.jpg" />
        }
        @if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
        {
            using (Html.BeginForm("UploadPicture", "Home", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <input type="file" id="upload-file" name="image" />

                <label style="margin-top: 200px;" id="upload-file-label" class="btn left" for="upload-file">Choose Picture</label><br /><br />
                <input type="submit" class="btn left" value="Confirm" />

            }
        }
    </div>

    <div class="profile-friends">
        <h2>Friends</h2>

        @if (Model.Friends.Count > 0)
        {
            <ul class="friend-list">

                @foreach (var friend in Model.Friends)
                {
                    <li><a href="@Url.Action("Profile", "Home", new { id = friend.Id })">@friend.Firstname @friend.Lastname</a></li>
                }
            </ul>

            <span><a href="">View all...</a></span>

        }
        else
        {
            <span class="gray">No friends</span>
        }

        <br />

    </div>

    <div class="profile-bio">
        <h2>Biography</h2>
        <p>
            <b>Name: </b>@Model.Firstname @Model.Lastname<br />
            <b>Age: </b><br />
            <b>Email: </b>@Model.Email<br />
            <br />
            @Model.ProfileInfo
        </p>
        <br />

        @if (HttpContext.Current.User.Identity.Name.Equals(Model.UserName))
        {
            <span class="right">
                <a href="@Url.Action("EditProfile", "Home", new { id = @Model.Id })">
                    Edit Profile
                </a>
            </span>
        }
        else
        {

            var friends = ViewBag.friendList as IEnumerable<UltraDatingHT17.Models.ApplicationUser>;

            if (friends.Any(f => f.Id == Model.Id))
            {
                <button class="btn right" onclick="location.href='@Url.Action("RemoveFriend", "Friend", new { friendId = Model.Id })'">Remove Friend</button>
            }
            else
            {
                <button class="btn accept right" onclick="location.href='@Url.Action("AddFriendRequest", "Friend", new { friendId = Model.Id })'">Add Friend</button>
            }

        }


    </div>
</div>
<br />

<div id="shoutbox-posts">
    <h2>@Model.Firstname's shoutbox:</h2>
    @*@Html.Partial("../Posts/Index",Model.Id);*@
    @Html.Partial("../Posts/Index", new UltraDatingHT17.Controllers.PostIndexViewModel(Model.Id))

   <br />
    <div id="shoutbox-form">
        <form action="">
            <h2>Leave a message for @Model.Firstname</h2>

            <textarea class="shoutbox-entry-content-input" id="postTextbox" placeholder="Write something..." resize="no"></textarea>

            <input type="submit" id="submitButton" value="Post" class="btn right">

        </form>

    </div>

</div>

@*<div id="createPostDiv">
        @Html.Partial("Create", PostIndexViewModel,"Posts")
    </div>*@


    

